@font-face {
    font-family: 'Inter';
    font-weight: 400;
    src: url('../assets/fonts/Inter-Regular.woff2') format('woff2'),
         url('../assets/fonts/Inter-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Inter';
    font-weight: 300;
    src: url('../assets/fonts/Inter-Light.woff2') format('woff2'),
         url('../assets/fonts/Inter-Light.woff') format('woff');
}

@font-face {
    font-family: 'Inter';
    font-weight: 500;
    src: url('../assets/fonts/Inter-SemiBold.woff2') format('woff2'),
         url('../assets/fonts/Inter-SemiBold.woff') format('woff');
}

@font-face {
    font-family: 'Inter';
    font-weight: 700;
    src: url('../assets/fonts/Inter-Bold.woff2') format('woff2'),
         url('../assets/fonts/Inter-Bold.woff') format('woff');
}

:root {
    --primary-color: #f4f6f8;
    --secondary-color: #181818;
    --tertiary-color: #888;
    --border-color: #ddd;
    --gap: 0.5rem;
}

* {
    box-sizing: border-box;
}

body {
    block-size: 100svh;
    margin: 0;
    font-family: 'Inter', 'Segoe UI', 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
    
    font-weight: 400;
    color: var(--secondary-color);
    background-color: var(--primary-color);
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    align-items: start;

    @media (width > 767px) {
        grid-template-columns: calc(300px + var(--gap)) 1fr;
    }

    @media (width > 991px) {
        grid-template-columns: calc(340px + var(--gap)) 1fr;
    }

    @media (width > 1599px) {
        grid-template-columns: calc(380px + var(--gap)) 1fr;
    }
}

.sidebar {
    @media (width > 767px) {
        position: sticky;
        block-size: 100svh; /* Ensures .copyright can be positioned at the bottom of the page */
        top: 0; /* Sidebar sticks to viewport once scroll position is reached */
        padding-inline-end: var(--gap);
    }
}

.profile {
    display: flex;
    flex-direction: column;
    block-size: 100%;
    margin-block-end: var(--gap);

    @media (width > 767px) {
        margin-block-end: 0;
    }
}

.profile-scroll {
    display: inline-block;
    position: relative;

    @media (width > 767px) {
        flex: 1 1 auto;
        overflow-y: auto;
    }
}

.profile-picture-wrapper {
    position: relative;
    inline-size: 100%;
    block-size: calc((100vw / 3) * 4);

    @media (width > 767px) {
        block-size: 400px;
    }

    @media (width > 991px) {
        block-size: 453.33px;
    }

    @media (width > 1599px) {
        block-size: 506.66px;
    }
}

.profile-picture {
    display: block;
    inline-size: 100%;
    block-size: 100%;
    object-fit: cover; /* Fill width & height while maintaining aspect ratio */
}

.profile-picture-wrapper::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(to top, black 0%, transparent 33.33%);
    z-index: 1;
    pointer-events: none;

    @media (width > 767px) {
        display: none;
    }
}

.profile-content {
    position: absolute;
    inline-size: 100%;
    padding-inline: 1.625rem;
    bottom: 0;
    color: var(--primary-color);
    z-index: 2;

    @media (width > 767px) {
        position: unset;
        bottom: unset;
        padding: 1.5rem 1rem;
        color: inherit;
        z-index: unset;
    }

    @media (width > 991px) {
        padding-inline: 1.5rem;
    }
}

.profile-name {
    margin-block: 0.375rem;
    line-height: 2.25rem;
    font-size: 2rem;
    font-weight: 500;

    @media (width > 767px) {
        margin-block: 0 0.75rem;
    }
}

.profile-name a {
    text-decoration: none;
    color: inherit;
}

.profile-description {
    margin-block: 0;
}

.nav-links {
    display: flex;
    margin-block: 1.375rem 2.5rem;
    padding: 0;
    gap: 1rem;
    list-style: none;

    @media (width > 767px) {
        margin-block: 1.625rem 0;
    }
}

.nav-links li {
    display: inline-block;
    font-weight: 700;
}

.nav-links a {
    color: #888;
    text-decoration: none;
    transition: color 0.1s ease;
}

.nav-links a.active {
    color: inherit;
}

.nav-links a:hover,
.nav-links a:focus-visible {
    color: inherit;
}

.copyright {
    position: fixed;
    inset-inline-start: 0;
    inset-inline-end: calc(var(--gap) * -1);
    bottom: 0;
    padding-block: 0.5rem;
    text-align: center;
    font-size: 0.8rem;
    border-block-start: 1px var(--border-color) solid;
    background-color: var(--primary-color);
    z-index: 3;

    @media (width > 767px) {
        position: static;
        text-align: left;
        border-block-start: 0px var(--border-color) solid;
    }
}

.copyright p {
    padding-inline: 1rem;

    @media (width > 991px) {
        padding-inline: 1.5rem;
    }
}

.copyright .rights {
    display: none;

    @media (width > 343px) {
        display: inline;
    }

    @media (width > 767px) {
        display: none;
    }

    @media (width > 1599px) {
        display: inline;
    }
}

.portfolio {
    padding-block-end: 3.625rem;

    @media (width > 767px) {
        padding-block-end: 0;
    }
}

.grid {
    column-count: 1;
    gap: var(--gap);
    color: var(--primary-color);

    @media (width > 600px) {
        column-count: 2;
        padding-block-end: var(--gap);
    }

    @media (width > 767px) {
        column-count: 1;
        padding-block-end: 0;
    }

    @media (width > 908px) {
        column-count: 2;
        padding-block-end: var(--gap);
    }

    @media (width > 1548px) {
        column-count: 3;
    }
}

.grid-item {
    position: relative;
    inline-size: 100%;
    margin-block-end: var(--gap);
    padding-block-end: var(--aspect-ratio);
    cursor: pointer;
}

.grid-item img {
    display: block;
    position: absolute;
    inline-size: 100%;
}

.blur-load::before {
    content: "";
    position: absolute;
    inset: 0;
    animation: pulse 2.5s infinite;
}

.blur-load.loaded::before {
    content: none;
}

@keyframes pulse {
    0% {
        background-color: rgba(255, 255, 255, 0);
    }

    50% {
        background-color: rgba(255, 255, 255, 0.1);
    }

    100% {
        background-color: rgba(255, 255, 255, 0);
    }
}

.blur-load {
    position: absolute;
    inline-size: 100%;
    block-size: 100%;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.blur-load.loaded img {
    opacity: 1;
    transition: opacity 200ms ease-in-out;
}

.blur-load img {
    opacity: 0;
    inline-size: 100%;
    block-size: 100%;
    object-fit: cover;
}

.grid-overlay {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    inset: -1rem;
    padding: 1rem;
}

.content-overlay {
    position: relative;
    padding: 1rem;
    padding-block-start: 8rem;
}

.hover-overlay-1,
.hover-overlay-2,
.hover-overlay-3,
.hover-overlay-4 {
    position: absolute;
    inset: -1rem;
    opacity: 0;
    transition: opacity 0.15s ease;
}

.hover-overlay-1 {
    mask: linear-gradient(rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 25%);
    backdrop-filter: blur(1px) brightness(0.78) saturate(1.2);
}

.hover-overlay-2 {
    mask: linear-gradient(rgba(255, 255, 255, 0) 25%, rgb(255, 255, 255) 50%);
    backdrop-filter: blur(2px) brightness(0.78) saturate(1.2);
}

.hover-overlay-3 {
    mask: linear-gradient(rgba(255, 255, 255, 0) 50%, rgb(255, 255, 255) 75%);
    backdrop-filter: blur(4px) brightness(0.78) saturate(1.2);
}

.hover-overlay-4 {
    mask: linear-gradient(rgba(255, 255, 255, 0) 75%, rgb(255, 255, 255) 100%);
    backdrop-filter: blur(8px) brightness(0.78) saturate(1.2);
}

.grid-overlay:hover .hover-overlay-1,
.grid-overlay:hover .hover-overlay-2,
.grid-overlay:hover .hover-overlay-3,
.grid-overlay:hover .hover-overlay-4 {
    opacity: 1;
}

.grid-title,
.grid-date {
    position: relative;
    margin-block: 0;
    opacity: 0;
    transition: opacity 0.15s ease;
}

.grid-title {
    font-size: 1.125rem;
    font-weight: 500;
}

.grid-date {
    margin-block-start: 0.5rem;
    font-size: 0.75rem;
    font-weight: 300;
}

.grid-overlay:hover .grid-title,
.grid-overlay:hover .grid-date {
    opacity: 1;
}

#lightbox {
    display: none;
    position: fixed;
    top: 0;
    inline-size: 100%;
    block-size: 100%;
    background-color: rgb(from var(--primary-color) r g b / 0.7);
    backdrop-filter: blur(4px);
    z-index: 999;
}

#lightbox.active {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block-end: 3.625rem;

    @media (width > 991px) {
        padding-block-end: 0;
    }
}

#lightbox-content {
    inline-size: 100%;
    block-size: 100%;
    background-color: var(--primary-color);
    overflow-y: auto;

    @media (width > 991px) {
        display: grid;
        grid-template-columns: 1fr 340px;
        margin-inline: 6rem;
        overflow-y: hidden;
    }

    @media (width > 1199px) {
        grid-template-columns: 1fr 380px;
    }
}

#lightbox-image-background {
    position: relative;
    inline-size: 100%;
    block-size: auto;
    overflow: hidden;
}

#lightbox-image-background::before {
    content: "";
    
    @media (width > 991px) {
        position: absolute;
        inset: 0;
        background-image: var(--lightbox-bg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        filter: blur(4px);
        transform: scale(1.1);
    }
}

#lightbox-image {
    position: relative;
    inline-size: 100%;
    block-size: auto;

    @media (width > 991px) {    
        display: flex;
        position: absolute;
        inline-size: 100%;
        block-size: 100%;
        justify-content: center;
        align-items: center;
        background-color: rgb(from var(--primary-color) r g b / 0.05);
    }
}

#lightbox-image img {
    position: relative;
    inline-size: 100%;
    block-size: auto;
    object-fit: contain;

    @media (width > 991px) {
        max-inline-size: 100%;
        max-block-size: 100%;
    }
}

.lightbox-info-container {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.lightbox-image-info {
    inline-size: 100%;
    padding: 1rem;
}

.small-profile a {
    all: unset;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
}

.small-profile img {
    inline-size: 2.25rem;
    block-size: 2.25rem;
    margin-inline-end: 0.75rem;
    object-fit: cover;
    border-radius: 50%;
}

.small-profile p {
    margin: 0;
    font-size: 1.0625rem;
    font-weight: 500;
}

.lightbox-exif {
    display: grid;
    grid-template-columns: 2.25rem 1fr;
    padding-block-start: 0.25rem;
    align-items: center;
    row-gap: 0.3125rem;
    column-gap: 0.75rem;
    color: var(--tertiary-color);
}

.lightbox-exif #title {
    color: var(--secondary-color);
    font-size: 1rem;
    font-weight: 400;
}

.lightbox-exif .icon {
    display: block;
    margin-inline-start: auto;
    margin-inline-end: auto;
    block-size: 1.375rem;
    inline-size: 1.375rem;
}

.lightbox-exif p {
    margin: 0;
    font-size: 0.875rem;
}

#settings {
    display: flex;
    flex-wrap: wrap;
}

.settings-part {
    white-space: nowrap;
}

.dot {
    padding-inline: 0.25rem;
    white-space: nowrap;
}

#lightbox .copyright {
    position: fixed;
    text-align: center;
    margin-block-start: auto;
    border-block-start: 1px var(--border-color) solid;

    @media (width > 991px) {
        position: sticky;
    }
}

#lightbox .copyright .rights {
    display: inline;
}

.navigation-btn {
    position: absolute;
    display: flex;
    background-color: rgb(from var(--primary-color) r g b / 0.7);
    inline-size: 3rem;
    block-size: 3rem;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.navigation-btn:hover {
    transform: scale(1.1);
    border: 1px rgb(from var(--tertiary-color) r g b / 0.25) solid;
}

.navigation-btn:hover i {
    font-weight: normal;
}

#navigation-close {
    top: 1.5rem;
    right: 1.5rem;
}

#navigation-prev {
    display: none;
    left: 1.5rem;

    @media (width > 991px) {
        display: flex;
    }
}

#navigation-next {
    display: none;
    right: 1.5rem;

    @media (width > 991px) {
        display: flex;
    }
}

.series {
    block-size: 100%;
    margin-inline: 1.5rem;
    padding-block-end: 3.625rem;

    @media (width > 767px) {
        padding-block-end: 1rem;
    }
}


.page-label {
    display: none;
    position: relative;
    inline-size: fit-content;
    margin-block: 1.5rem;
    padding: 0.6875rem 1.5rem;
    font-size: 1.375rem;
    font-weight: 500;
    border-radius: 9999px;
    background-color: rgb(from var(--tertiary-color) r g b / 0.075);

    @media (width > 767px) {
        display: block;
    }
}

.series-card-link {
    color: inherit;
    text-decoration: none;
}

.series-card-link:active,
.series-card-link:focus-visible,
.series-card-link:visited {
    color: inherit;
}

.series-cards-container {
    display: grid;
    grid-template-columns: 1fr;
    margin-block-end: 2rem;
}

.series-card {
    display: grid;
    grid-template-columns: 1fr;
    border: 1px var(--border-color) solid;
    border-radius: 0.5rem;
    background-color: rgb(from var(--tertiary-color) r g b / 0.075);
    cursor: pointer;
    overflow: hidden;

    @media (width > 623px) {
        grid-template-columns: 33% 67%;
        aspect-ratio: 2 / 1;
    }

    @media (width > 767px) {
        grid-template-columns: 1fr;
        aspect-ratio: unset;
    }

    @media (width > 931px) {
        grid-template-columns: 33% 67%;
        aspect-ratio: 2 / 1;
    }
}

.series-card-info {
    block-size: 100%;
    padding: 1rem;

    @media (width > 623px) {
        padding: 1.5rem;
    }

    @media (width > 767px) {
        padding: 1rem;
    }

    @media (width > 931px) {
        padding: 1.5rem;
    }
}

.series-card-info p {
    margin-block: 0;
}

.series-card-title {
    font-size: 1.0625rem;
    font-weight: 500;

    @media (width > 1067px) {
        font-size: 1.375rem;
    }

    @media (width > 1419px) {
        font-size: 2.125rem;
    }
}

.series-card-description {
    display: none;
    margin-block-start: 1rem;
    font-size: 1.0625rem;
    line-height: 1.25;

    @media (width > 719px) {
        display: block;
    }

    @media (width > 767px) {
        display: none;
    }

    @media (width > 1067px) {
        display: block;
    }
}

.series-card-photo-count {
    margin-block-start: 0.375rem;
    font-size: 0.875rem;
    color: var(--tertiary-color);

    @media (width > 623px) {
        margin-block-start: 1rem;
    }

    @media (width > 767px) {
        margin-block-start: 0.375rem;
    }

    @media (width > 931px) {
        margin-block-start: 1rem;
    }
}

.series-card-images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    block-size: calc((var(--series-card-width ) / 3) - 0.25rem);
    gap: calc(var(--gap) / 2);

    @media (width > 623px) {
        display: unset;
        grid-template-columns: unset;
        column-count: 2;
        block-size: 100%;
    }

    @media (width > 767px) {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        block-size: calc((var(--series-card-width) / 3) - 0.25rem);
    }

    @media (width > 931px) {
        display: unset;
        grid-template-columns: unset;
        column-count: 2;
        block-size: 100%;
    }

    @media (width > 1163px) {
        gap: var(--gap);
    }
}

.series-card-grid-item {
    display: flex;
    position: relative;
    max-inline-size: 100%;
    block-size: auto;
    margin-block-end: calc(var(--gap) / 2);
    padding-block-end: var(--aspect-ratio);
    object-fit: cover;
    justify-content: left;

    @media (width > 1163px) {
        margin-block-end: var(--gap);
    }
}

#navigation-back {
    position: fixed;
    top: 1.5rem;
    right: 1.5rem;
    background-color: rgb(from var(--primary-color) r g b / 0.7);
    overflow: hidden;
    z-index: 1;

    @media (width > 767px) {
        left: 1.5rem;
    }
}

.series-view-info-container {
    display: flex;
    flex-direction: column;
    padding-inline: 1.5rem 5rem;
    padding-block: 1.5rem;
    overflow-y: auto;

    @media (width > 767px) {
        padding: 2.5rem;
    }
}

.series-view-info-container ul {
    display: none;
    margin-block-start: 3rem;

    @media (width > 767px) {
        display: inline;
    }
}

.series-view-info-container li {
    font-weight: 400;
}

#series-title {
    font-size: 2.375rem;
    font-weight: 500;

    @media (width > 767px) {
        margin-block-start: 0.5rem;
    }
}

#series-photo-count {
    margin-block-start: 0.75rem;
    font-size: 1.125rem;
    font-weight: 300;
    color: var(--tertiary-color);
}

#series-description {
    margin-block-start: 1.5rem;
    font-size: 1.125rem;
    line-height: 1.5;
}

.series-view-info-container .small-profile {
    margin-block-start: 1.5rem;
}

.series-view {
    column-count: 1;
    padding-block-end: 3.625rem;
    gap: var(--gap);
    color: var(--primary-color);

    @media (width > 600px) {
        column-count: 2;
        padding-block-end: 4rem;
    }

    @media (width > 767px) {
        column-count: 1;
        padding-block-end: 0;

    }

    @media (width > 908px) {
        column-count: 2;
        padding-block-end: var(--gap);
    }

    @media (width > 1548px) {
        column-count: 3;
    }
}