/* To-Do List
- .copyright not completely at bottom when scrolling
*/

@font-face {
    font-family: 'Inter';
    font-weight: 400;
    src: url('../assets/fonts/Inter-Regular.woff2') format('woff2'),
         url('../assets/fonts/Inter-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Inter';
    font-weight: 300;
    src: url('../assets/fonts/Inter-Light.woff2') format('woff2'),
         url('../assets/fonts/Inter-Light.woff') format('woff');
}

@font-face {
    font-family: 'Inter';
    font-weight: 500;
    src: url('../assets/fonts/Inter-SemiBold.woff2') format('woff2'),
         url('../assets/fonts/Inter-SemiBold.woff') format('woff');
}

@font-face {
    font-family: 'Inter';
    font-weight: 700;
    src: url('../assets/fonts/Inter-Bold.woff2') format('woff2'),
         url('../assets/fonts/Inter-Bold.woff') format('woff');
}

:root {
    --bg-color: #f4f6f8;
    --gap: 0.5rem;
}

* {
    box-sizing: border-box;
}

body {
    block-size: 100svh;
    margin: 0;
    font-family: 'Inter', 'Segoe UI', 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
    font-weight: 400;
    color: #181818;
    background-color: var(--bg-color);
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    align-items: start;

    @media (width > 767px) {
        grid-template-columns: calc(300px + var(--gap)) 1fr;
    }

    @media (width > 991px) {
        grid-template-columns: calc(340px + var(--gap)) 1fr;
    }

    @media (width > 1599px) {
        grid-template-columns: calc(380px + var(--gap)) 1fr;
    }

}

.sidebar {
    @media (width > 767px) {
        position: sticky;
        block-size: 100svh; /* Ensures .copyright can be positioned at the bottom of the page */
        top: 0; /* Sidebar sticks to viewport once scroll position is reached */
        padding-inline-end: var(--gap);
    }
}

.profile {
    display: flex;
    flex-direction: column;
    block-size: 100%;
    margin-block-end: var(--gap);

    @media (width > 767px) {
        margin-block-end: 0;
    }
}

.profile-scroll {
    display: inline-block;
    position: relative;

    @media (width > 767px) {
        flex: 1 1 auto; /* Start with natural size, but grow to fill available space, and shrink if necessary. */
        overflow-y: auto;
    }
}

.profile-picture-wrapper {
    position: relative;
    inline-size: 100%;
    block-size: calc((100vw / 3) * 4);
    overflow: hidden;

    @media (width > 767px) {
        block-size: 400px;
    }

    @media (width > 991px) {
        block-size: 453.33px;
    }

    @media (width > 1599px) {
        block-size: 506.66px;
    }
}

.profile-picture {
    display: block;
    inline-size: 100%;
    block-size: 100%;
    object-fit: cover; /* Fill width & height while maintaining aspect ratio */
}

.profile-picture-wrapper::after {
    content: '';
    position: absolute;
    inset: 0;
    background: linear-gradient(to top, black 0%, transparent 33.33%);
    z-index: 1;
    pointer-events: none;

    @media (width > 767px) {
        display: none;
    }
}

.profile-content {
    position: absolute;
    inline-size: 100%;
    padding-inline: 1.625rem;
    bottom: 0;
    color: var(--bg-color);
    z-index: 2;

    @media (width > 767px) {
        position: unset;
        bottom: unset;
        padding: 1.5rem 1rem;
        color: inherit;
        z-index: unset;
    }

    @media (width > 991px) {
        padding-inline: 1.5rem;
    }
}

.profile-name {
    margin-block: 0.375rem;
    line-height: 2.25rem;
    font-size: 2rem;
    font-weight: 500;

    @media (width > 767px) {
        margin-block: 0 0.75rem;
    }
}

.profile-name a {
    text-decoration: none;
    color: inherit;
}

.profile-description {
    margin-block: 0;
}

.nav-links { /* User agent of margin-block is 16px */
    display: flex;
    margin-block: 1.375rem 2.5rem;
    padding: 0;
    gap: 1rem;
    list-style: none;

    @media (width > 767px) {
        margin-block: 1.625rem 0;
    }
}

.nav-links li {
    display: inline-block;
    font-weight: 700;
}

.nav-links a {
    color: #888;
    text-decoration: none;
    transition: color 0.1s ease;
}

.nav-links a.active {
    color: inherit;
}

.nav-links a:hover,
.nav-links a:focus-visible {
    color: inherit;
}

.copyright {
    position: fixed;
    inset-inline-start: 0;
    inset-inline-end: calc(var(--gap) * -1);
    bottom: 0;
    padding-block: 0.5rem;
    text-align: center;
    font-size: 0.8rem;
    border-block-start: 1px #ddd solid;
    background-color: var(--bg-color);
    z-index: 3;

    @media (width > 767px) {
        position: static;
        text-align: left;
    }
}

.copyright p {
    padding-inline: 1rem;

    @media (width > 991px) {
        padding-inline: 1.5rem;
    }
}

.copyright .rights {
    @media (width > 767px) {
        display: none;
    }

    @media (width > 1599px) {
        display: inline;
    }
}

.portfolio {
    padding-block-end: 2.5rem; /* Bad practise, might need to change the HTML layout */
}

.grid {
    column-count: 1;
    gap: var(--gap);
    overflow: hidden;

    @media (width > 600px) {
        column-count: 2;
    }

    @media (width > 767px) {
        column-count: 1;
    }

    @media (width > 908px) {
        column-count: 2;
    }

    @media (width > 1548px) {
        column-count: 3;
    }
}

.grid-item {
    position: relative;
    inline-size: 100%;
    margin-block-end: var(--gap);
    padding-block-end: var(--aspect-ratio);
    background-color: var(--bg-color); /* Change when adding lazy-loading */
    overflow: hidden;
}

.grid-item img {
    display: block;
    position: absolute;
    inline-size: 100%;
}

.grid-item::after {
    content: '';
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

.grid-item:hover {
    cursor: pointer;
}

.grid-item:hover::after {
    opacity: 1;
    mask-image: linear-gradient(to top, black 50px, transparent 200px);
    background: linear-gradient(to top, rgba(0, 0, 0, 0.75) 75px, transparent 250px);
    backdrop-filter: blur(6px);
}

.blur-load::before {
    content: '';
    position: absolute;
    inset: 0;
    animation: pulse 2.5s infinite;
}

.blur-load.loaded::before {
    content: none;
}

@keyframes pulse {
    0% {
        background-color: rgba(255, 255, 255, 0);
    }

    50% {
        background-color: rgba(255, 255, 255, 0.1);
    }

    100% {
        background-color: rgba(255, 255, 255, 0);
    }
}

.blur-load {
    position: absolute;
    inline-size: 100%;
    block-size: 100%;
    background-size: cover;
    background-position: center;
}

.blur-load.loaded img {
    opacity: 1;
    transition: opacity 200ms ease-in-out;
}

.blur-load img {
    opacity: 0;
    inline-size: 100%;
    block-size: 100%;
    object-fit: cover;
}

.grid-overlay {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-inline: 1rem;
    color: var(--bg-color);
    opacity: 0;
    transition: opacity 0.2s ease;
    z-index: 2;
}

.grid-overlay:hover {
    opacity: 1;
}

.grid-title {
    margin-block: 0;
    font-size: 1.125rem;
    font-weight: 500;
}

.grid-date {
    margin-block-start: 0.5rem;
    margin-block-end: 1rem;
    font-size: 0.75rem;
    font-weight: 300;
}

.series {
    display: flex;
    block-size: 100svh;
    font-size: 3.5rem;
    font-weight: 700;
    justify-content: center;
    align-items: center;
    text-align: center;
}